*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-green: #4CAF50;
    --main-black: #232431;
    --border-radius: 10px;
    --header-height: 90px;
    --hero-overlay: rgba(0,0,0,0.4);
    --industry-overlay: rgba(0,0,0,0.3);
    --cta-width: 200px;
    --category-frame-time: 1.3s;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
html{
    scroll-behavior: smooth;
}
body{
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Kanit', sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: var(--main-black);
}
.container{
    width: 100%;
    max-width: 1186px;
    margin: 0 auto;
    padding: 0 10px;
}

/* header *********************************************/
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_wrap{
    padding: 10px;
}
/* .logo_wrap:hover{
    border-radius: var(--border-radius);
    background-color: #232431;
    color: #FFFFFF;
} */
.logo{
    font-size: 30px;
    line-height: 1;
}
.logo_full{
    font-size: 14px;
}


/* navigation *********************************************/
.navigation{
    display: flex;
    gap: 0 10px;
}
.nav_links{
    font-size: 18px;
    padding: 10px;
}
.nav_links:hover{
    text-decoration: underline;
}
.call_cta_wrap{
    display: flex;
    width: 100%;
    max-width: var(--cta-width);
}
.call_cta{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: var(--cta-width);
    border-radius: var(--border-radius);
    transition: 0.3s all;
    color: #FFFFFF;
    background-color: var(--main-black);
}
.call_cta:hover{
    text-decoration: none;
    border: 2px solid;
    color: var(--main-black);
    background-color: transparent;
}


/* hero section *********************************************/
.hero_wrap{
    height: calc(100vh - var(--header-height));
    padding: 10px;
}
.activeSection{
    animation: show_down 1.4s linear;
}
.hero{
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    background: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url('assets/stats_bg_v5.jpeg') no-repeat center;
    background-size: cover;
}
.hero_container{
    opacity: 0;
    transition: 0.7s all;
}
.pre_head{
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: underline;
    /* text-decoration-style: double; */
    color: #FFFFFF;
}
.hero_head{
    font-size: 54px;
    font-weight: 600;
    max-width: 600px;
    margin: 10px 0 50px;
    line-height: 1.2;
    color: #FFFFFF;
}
.hero_cta{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    width: 100%;
    max-width: var(--cta-width);
    height: 55px;
    font-size: 22px;
    /* padding: 10px 20px; */
    color: #FFFFFF;
    background-color: #171820;
    border-radius: var(--border-radius);
    transition: 0.3s all;
}
.hero_cta:hover{
    /* border: 2px solid; */
    background-color: #FFFFFF;
    color: var(--main-black);
}


/* industries *********************************************/
.industries{
    padding: 80px 0;
}
.industry_card_wrap{
    display: flex;
    justify-content: space-between;
}
.industry_card{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    max-width: 270px;
    max-height: 405px;
    line-height: 1;
    border-radius: var(--border-radius);
}
.industry_card:hover .industry_image, .industry_card:hover .industry_cta_arrow{
    transform: scale(1.35);
}
.industry_card:hover .industry_cta_arrow{
    background-color: #FFFFFF;
}
.industry_image{
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    border-radius: var(--border-radius);
    transition: 0.5s all;
}
.industry_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--industry-overlay)
}
.industry_name{
    position: absolute;
    text-transform: capitalize;
    color: #FFFFFF;
    font-size: 22px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.industry_cta{
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.industry_cta_arrow{
    font-size: 18px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.3s all;
}

/* key projects */
.key_projects{
    padding: 50px 0;
}
.key_projects_head{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-align: center;
    font-size: 50px;
    margin: 0 0 80px;
}
.key_projects_wrap{
    display: flex;
    flex-direction: column;
    gap: 150px 0;
}
.key_project{
    display: flex;
    gap: 0 40px;
}
.key_project_left{
    max-width: 800px;
}
.key_project_main_image{
    max-width: 100%;
    margin: 0 0 10px;
    border-radius: var(--border-radius);
}
.mini_photos{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0 12px;
}
.mini_photo{
    width: 190px;
    max-width: 100%;
    border-radius: var(--border-radius);
}
.key_project_name{
    font-size: 32px;
    letter-spacing: 1px;
}
.key_project_time{
    font-size: 14px;
    letter-spacing: 0.6px;
    margin: 0 0 30px;
}
.key_project_desc{
    font-size: 18px;
    margin: 0 0 40px;
    letter-spacing: 0.8px;
}

/* v2 project */
.v2_project_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.key_points{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}
.key_point{
    display: flex;
    align-items: center;
    letter-spacing: 0.8px;
}
.material-symbols-outlined{
    font-size: 32px;
}
.key_point_desc{
    font-size: 18px;
    margin: 0 0 0 15px;
}
.v2_key_points{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px 0;
}
.v2_key_points .key_point{
    flex-basis: 50%;
}


/* stats *********************************************/
/* .stats{
    /* background: url('assets/stats_bg_v5.jpeg') no-repeat; */
    /* background-position: left center; */
    /* background-size: cover; */
    /* min-height: 30vh;
    padding: 80px 0;
    margin: 0 0 80px;
}
.statistics_head{
    font-size: 46px;
    font-weight: 700;
    margin: 0 0 50px;
    /* text-decoration: underline;
}
.stats_cards{
    display: flex;
    justify-content: space-between;
}
.stat_card{
    width: 100%;
    max-width: 260px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: linear-gradient(60deg, #FFFFFF, #FFFFFF);
    border: 1px solid #e6e7eb;
    border-top: none;
    border-bottom: none;
    border-right: none;
    transition: 0.5s all;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* border-radius: var(--border-radius);
}
.stat_card:hover{
    /* color: #FFFFFF; */
    /* border: 1px solid transparent;
    transform: scale(1.1);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    /* animation: gradient_background 5s infinite linear;
}
.stat_number{
    font-size: 44px;
    font-weight: 700;
}
.stat_desc{
    font-size: 18px;
} */


/* call cta popup ****************************************/
.call_cta_popup{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}
.active_flex{
    display: flex;
}
.call_cta_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 300px;
    padding: 20px;
    margin: 0 auto;
    transition: 0.3s all;
    animation: zoom_out 0.3s linear;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.9);
}
.call_cta_text{
    font-size: 44px;
    text-align: center;
    pointer-events: none;
}


/* portfolio industries 
/* .portfolio_page_wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.portfolio_industries{
    padding: 20px 0;
    flex-grow: 1;
}
.portfolio_industries_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 40px;
}
.portfolio_industry_card{
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 466px;
    height: 317px;
    line-height: 0;
    background-position: center;
    background-size: cover;
    /* border-radius: var(--border-radius);
} */

/* portfolio industry cards
/* .portf_landscape_card{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('assets/home_categories/landscape_v1.jpeg');
    background-position: center;
    background-size: cover;
    border-right: 20px solid var(--main-black);
    border-bottom: 20px solid var(--main-black);
    /* border-bottom: 4px;
}
.portf_landscape_card img{
    border-radius: 10px 0 0 0;
}
.portf_architecture_card{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('assets/home_categories/architecture_v1.jpeg');
    background-position: center;
    background-size: cover;
    border-left: 20px solid var(--main-black);
    border-bottom: 20px solid var(--main-black);
    /* border-bottom: 4px;
}
.portf_architecture_card img{
    border-radius: 0 10px 0 0;
}
.portf_interior_card{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('assets/home_categories/interiors_v1.jpeg');
    background-position: center;
    background-size: cover;
    border-top: 20px solid var(--main-black);
    border-right: 20px solid var(--main-black);
    /* border-bottom: 4px;
}
.portf_interior_card img{
    border-radius: 0 0 0 10px;
}
.portf_residential_card{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('assets/home_categories/residential_v1.jpeg');
    background-position: center;
    background-size: cover;
    border-top: 20px solid var(--main-black);
    border-left: 20px solid var(--main-black);
    /* border-bottom: 4px;
}
.portf_residential_card img{
    border-radius: 0 0 10px 0;
}
.portfolio_industry_image{
    max-width: 100%;
    /* flex-basis: 50%;
    /* border-radius: var(--border-radius);
} */


/* category heads *********************************************/
.category_head{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
}
.category_name_wrap, .project_head_wrap{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    background-color: var(--main-black);
}
.category_name_wrap{
    top: 71px;
    padding: 5px 0;
    animation: right_left var(--category-frame-time) ease-out;
}
.project_head_wrap{
    width: min-content;
    height: 100vh;
    padding: 0 5px;
    top: 71px;
    animation: bottom_top var(--category-frame-time) ease-out;
}
.category_name, .project_head{
    font-size: 24px;
    opacity: 0;
    transition: 0.7s all;
    text-transform: uppercase;
    color: #FFFFFF;
}
.category_name{
    letter-spacing: 12px;
}
.project_head{
    text-orientation: upright;
    writing-mode: vertical-lr;
}


/* project cards *********************************************/
.project_cards_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    gap: 40px;
    margin: 0 auto;
}
.project_card{
    width: 100%;
    height: 232px;
    max-width: 350px;
    perspective: 2000px;
    transform: scale(0);
    opacity: 0;
    transition: 1.5s all;
    cursor: pointer;
    background-color: transparent;
}
.project_card *{
    pointer-events: none;
}
/* .project_card:hover .project_card_inside{
    transform: rotateY(180deg);
} */
.project_card_inside{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.project_image{
    max-width: 350px;
    border-radius: var(--border-radius);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    object-fit: cover;
}
.project_card_front, .project_card_back{
    position: absolute;
    backface-visibility: hidden;
    max-height: 232px;
}
.project_card_back{
    height: 232px;
    padding: 20px;
    letter-spacing: 1px;
    border-radius: var(--border-radius);
    transform: rotateY(180deg);
    color: #FFFFFF;
    background-color: var(--main-black);
}
.project_name{
    font-size: 26px;
    font-weight: 700;
}

/* footer *********************************************/
footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--main-black);
}
.company_details{
    color: #FFFFFF;
}

/* active classes */
.text_active{
    opacity: 1;
}
.scale_project_cards{
    opacity: 1;
    transform: scale(1);
}
.project_card_active{
    transform: rotateY(180deg);
}

/* animations */
@keyframes show_down {
    0%{
        height: 0;
    }
    100%{
        height: calc(100vh - var(--header-height));
    }
}
@keyframes zoom_out {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes bottom_top {
    0%{
        top: -1000px;
        /* opacity: 0; */
    }
    100%{
        top: 71px;
        opacity: 1;
    }
}
@keyframes right_left {
    0%{
        right: -1800px;
        /* opacity: 0; */
    }
    100%{
        right: 0;
        opacity: 1;
    }
}